project_name = "lab-eks-app"
aws_region   = "us-east-1"

# Atenção: em laboratório, NAT Gateway e bancos gerenciados geram custo.
enable_nat_gateway = true

eks_version         = "1.30"
# If your Learner Lab exposes different pre-created EKS roles, override them here.
# eks_cluster_role_name = "LabEksClusterRole"
# eks_node_role_name    = "LabEksNodeRole"
node_instance_types = ["t3.micro"]
node_min_size       = 3
node_desired_size   = 3
node_max_size       = 3
node_disk_size      = 20

enable_cloudwatch_observability_addon = true

tags = {
  Owner = "lab"
}
